/* Interview */

* {
	box-sizing: border-box;
}
body{
	background-color: #7482;
	max-width: 50em;
	min-width: 100vh;
	margin: 20em;
	margin-left: 25em;
	position: relative;
	min-height: 50vh;
}

hr{
	display: block;
  margin-top: -3.2em;
  margin-bottom: 0.5em;
  margin-left: 5px;
  margin-right: auto;
  border-style: solid;
  border-width: 3px;
	color: grey;
	max-width: 52em;
	animation-name: hr;
	animation-duration: 1.5s;
	animation-delay: 3s;
	animation-fill-mode: backwards;
	animation-timing-function: ease-in-out;
}

@keyframes hr{
	0% {width: 0em;}
	100% {width:100%;}
	0%{opacity: 0%;}
	5%{opacity: 100%;}
}
h4{
	color: grey;
	font-size: 1.55em;
	line-height: 0px;
	margin: 0.5em;
	margin-left: 0.6em;
}
	h1 {
	color:#4148;
	font-size: 10em;
	line-height: 120px;
	margin: 0em;
	font-family: sans-serif;
	z-index: 1;
}
h2{
	color: #669;
	font-size: 1.5em;
	line-height: 0px;
	margin-top: 0.6em;
	margin-left: 27em;
	margin-bottom: 3em;

}
h3{
	color: #669;
	font-size: 1.2em;
	font-family: playfair;
	margin-left: 20px;
	text-align: left;
	position: relative;
	margin: 0;
	padding: 16px 16px 16px 20px;
}
p{
	color: rgb(99, 102, 106);
	font-family: Playfair;
	max-width: 45em;
	margin-left: 50px;
	text-align: left;


}

.dropbtn {
  background-color: #7469;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
	min-width: 70em;
	margin-left: -15em;
	padding: 15em;
	padding-bottom: 30em;
	padding-top: 0em;
	padding-left: 10em;
	margin-left:-10em;
	animation-name: dropdown;
	animation-duration: 2s;
}
.dropdown {
	animation-name: dropdown-2;
	animation-duration: 1s;
}
@keyframes dropdown{
	0% {opacity: 0%;}
	100% {opacity: 100%;}
}
@keyframes dropdown-2{
	100% {opacity: 100%;}
	0% {opacity: 0%;}
}
.dropdown:hover {
	margin-top: -17em;
	animation-name: dropdown-hover;
	animation-duration: 0.5s;
	animation-timing-function:cubic-bezier(.88,.25,.51,.82);
}
@keyframes dropdown-hover{
	0% {margin-top: 0em;}
	100% {margin-top: -17em;}

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7482;
  z-index: 1;
	min-width: 52em;
	margin-left: 5px;
	animation-name: content;
	animation-duration: 1s;
	animation-timing-function: ease-in;
}
@keyframes content{
	0%{opacity: 0%;}
	100% {opacity: 100%;}
}

.dropdown:hover .dropdown-content {
  display: block;
}
.p1 {
	display: none;
}
.p2 {
	display: none;
}
.p3 {
	display: none;
}
.p4 {
	display: none;
}
.p5 {
	display: none;
}
.p6 {
	display: none;
}
.p7 {
	display: none;
}
.first:hover + .p1{
	display:block;
	animation-name: p1;
	animation-duration: 0.6s;
}
@keyframes p1{
0% {opacity: 0%;}
100% {opacity:100%; }
}
.second:hover + .p2{
	display:block;
	animation-name: p2;
	animation-duration: 0.6s;
}
@keyframes p2{
0% {opacity: 0%;}
100% {opacity:100%; }
}
.third:hover + .p3 {
	display: block;
	animation-name: p3;
	animation-duration: 0.6s;
}
@keyframes p3{
0% {opacity: 0%;}
100% {opacity:100%; }
}
.fourth:hover + .p4 {
	display: block;
	animation-name: p4;
	animation-duration: 0.6s;
}
@keyframes p4{
0% {opacity: 0%;}
100% {opacity:100%; }
}
.fifth:hover + .p5 {
	display: block;
	animation-name: p5;
	animation-duration: 0.6s;
}
@keyframes p5{
0% {opacity: 0%;}
100% {opacity:100%; }
}
.sixth:hover + .p6 {
	display: block;
	animation-name: p6;
	animation-duration: 0.6s;
}
@keyframes p6{
0% {opacity: 0%;}
100% {opacity:100%; }
}
.seventh:hover + .p7 {
	display: block;
	animation-name: p7;
	animation-duration: 0.6s;
}
@keyframes p7{
0% {opacity: 0%;}
100% {opacity:100%; }
}
.square{
	height: 125em;
	width: 6000em;
	max-width: 105em;
	max-height: 125em;
	background-color: #4148;
	margin: 0em;
	margin-left: -26em;
	margin-top: -80.5em;
	position: fixed;
	animation-name: square;
	animation-duration: 2.7s;
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.87,.25,.51,.82);
}
@keyframes square {
	0% {height: 125em;}
	100% {height: 0%;}
}
